doctype html
html(lang="en")
  head
    title PokeMMOn :: Register
    link(rel='stylesheet', href='css/general.css')
  body
    div(align="center")
      -if(messages)
        div#note #{messages}
      h1 Register
      hr(width="50%")
      h3
        a(href="/") Homepage
        |  | 
        a(href="login") Login
      form(action="", method="POST")
        input(type="text", name="username", placeholder="username", autofocus)
        br
        input(type="password", name="password", placeholder="password")
        br
        input(type="submit", value="Register")
