doctype html
html
  head
    title Pokemap
    link(rel='stylesheet', href='css/editor/base.css', type='text/css')
    script(src='js/editor/jquery.js')
  body
    .container
      #export-pane.sidebar
        .header
          ul.tab-group
            a(href='#')
              li(data-tab='draw', onClick="show()") Draw
            a(href='#export-pane')
              li(data-tab='export', onClick="hide()") Options
        .tab-container
          #draw.tab
            .section
              button(onClick="initiateTileset('all')")#small All 
              button(onClick="initiateTileset('buildings')")#small Buildings 
              button(onClick="initiateTileset('paths')")#small Paths
              #tileset-container.tileset-container
                #selector.selector
                canvas#tileset.tileset(width='256', height='8016')
          #export.tab
            .section
              h5 PNG Image
              img#map-image.map-image-repview
              a#download-png(href='', target='_blank')
                button.button-download Download as PNG
            .section
              h5 PokeMap Array (PMA)
              textarea#pokemap-array
              a#download-txt(href='', target='_blank')
                button.button-download Download as TXT
      .builder
        .toolbar
          .grid S M O P
          .grid -
          .grid -
        .canvas-container
          canvas#map-canvas.map(width='400', height='400')
    script(src='js/editor/map-builder.js')
    script(src='js/editor/ui.js')
    script(src="js/editor/PokeMap.js")
    script(src="js/favicon.min.js")
