doctype html
html
    head
        title World Editor

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='css/editor/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='css/editor/base.css', type='text/css')

        script(src='js/editor/jquery.js')
        script(src='js/editor/bootstrap.min.js')
    body
        .container
            #export-pane.sidebar
                .header
                    .dropdown
                        button(data-toggle='dropdown', aria-expanded='true').dropdown-toggle Menu - 
                            span.mode Map Editor
                            span.caret
                        ul.dropdown-menu
                            li(data-tab='file')
                                a(href='#export-pane') File
                            li(data-tab='draw')
                                a(href='#') Map Editor
                //
                    ul.tab-group
                        a(href='#')
                            li(data-tab='draw') Draw
                        a(href='#export-pane')
                            li(data-tab='file') File
                .tab-container
                    #draw.tab
                        .section
                            h5 Recent
                            ul#history.recent-tiles
                                li#hist_0(data-index=0)
                                li#hist_1(data-index=1)
                                li#hist_2(data-index=2)
                                li#hist_3(data-index=3)
                                li#hist_4(data-index=4)
                                li#hist_5(data-index=5)
                        .section
                            h5 Tileset
                            //
                                button(onClick="initiateTileset('all')")#small All 
                                button(onClick="initiateTileset('buildings')")#small Buildings 
                                button(onClick="initiateTileset('paths')")#small Paths
                            select
                                option(value='all') All
                                option(value='buildings') Buildings
                                option(value='paths') Paths
                            #tileset-container.tileset-container
                                #selector.selector
                                canvas#tileset.tileset(width='256', height='8016')
                    #file.tab
                        .section
                            h5 PNG Image
                            img#map-image.map-image-repview
                            a#download-png(href='', target='_blank')
                                button.button-download Download as PNG
                        .section
                            h5 PokeMap Array (PMA)
                            textarea#pokemap-array
                            a#download-txt(href='', target='_blank')
                                button.button-download Download as TXT
            .builder
                //
                    .toolbar
                        .grid test1
                        .grid test2
                        .grid test3
                .canvas-container
                    canvas#map-canvas.map(width='400', height='400')
        script(src='js/editor/map-builder.js')
        script(src='js/editor/ui.js')

    //
        script(src='js/editor/Tile.js')
        script(src='js/editor/PokeMap.js')
        script(src='js/editor/init.js')

