doctype html
html
    head
        title World Editor

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='css/editor/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='css/editor/base.css', type='text/css')

        script(src='js/jquery-2.1.3.min.js')
        script(src='js/editor/bootstrap.min.js')
    body
        .container
            .sidebar
                .header
                    .dropdown
                        button(data-toggle='dropdown', aria-expanded='true').dropdown-toggle Menu - 
                            span.mode File
                            span.caret
                        ul.dropdown-menu
                            li(data-tab='file')
                                a(href='#file') File
                            li(data-tab='mapEditor')
                                a(href='#mapEditor') Map Editor
                            li(data-tab='warpEditor')
                                a(href='#warpEditor') Warp Editor
                            li(data-tab='npcEditor')
                                a(href='#npcEditor') NPC Editor
                            li(data-tab='eventEditor')
                                a(href='#eventEditor') Event Editor
                .tab-container
                    #file.tab
                        .section
                            h5 PNG Image
                            img#map-image.map-image-repview
                            a#download-png(href='', target='_blank')
                                button.button-download Download as PNG
                        .section
                            h5 PokeMap Array (PMA)
                            textarea#pokemap-array
                            a#download-txt(href='', target='_blank')
                                button.button-download Download as TXT
                    #mapEditor.tab
                        .section
                            h5 Recent
                            ul#history.recent-tiles
                                li#hist_0(data-index=0)
                                li#hist_1(data-index=1)
                                li#hist_2(data-index=2)
                                li#hist_3(data-index=3)
                                li#hist_4(data-index=4)
                                li#hist_5(data-index=5)
                        .section
                            h5 Tileset
                            select
                                option(value='all') All
                                option(value='buildings') Buildings
                                option(value='paths') Paths
                            #tileset-container.tileset-container
                                #selector.selector
                                canvas#tileset.tileset(width='256', height='8016')
                        .section
                            h5 Recent
                            ul#history.recent-tiles
                                li#hist_0(data-index=0)
                                li#hist_1(data-index=1)
                                li#hist_2(data-index=2)
                                li#hist_3(data-index=3)
                                li#hist_4(data-index=4)
                                li#hist_5(data-index=5)
                        .section
                            h5 Recent
                            ul#history.recent-tiles
                                li#hist_0(data-index=0)
                                li#hist_1(data-index=1)
                                li#hist_2(data-index=2)
                                li#hist_3(data-index=3)
                                li#hist_4(data-index=4)
                                li#hist_5(data-index=5)
                        .section
                            h5 Recent
                            ul#history.recent-tiles
                                li#hist_0(data-index=0)
                                li#hist_1(data-index=1)
                                li#hist_2(data-index=2)
                                li#hist_3(data-index=3)
                                li#hist_4(data-index=4)
                         .section
                            h5 Recent
                            ul#history.recent-tiles
                                li#hist_0(data-index=0)
                                li#hist_1(data-index=1)
                                li#hist_2(data-index=2)
                                li#hist_3(data-index=3)
                                li#hist_4(data-index=4)
                                li#hist_5(data-index=5)
                                li#hist_5(data-index=5)
                    #warpEditor.tab
                        .section
                            h5 Placeholder
                    #npcEditor.tab
                        .section
                            h5 Placeholder
                    #eventEditor.tab
                        .section
                            h5 Placeholder
            .builder
                canvas#map(width='400', height='400')
        script(src='js/editor/ui.js')
        script(src='js/editor/map-builder.js')

    //
        script(src='js/editor/Tile.js')
        script(src='js/editor/PokeMap.js')
        script(src='js/editor/init.js')

