doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title PokeMMOn Map Editor
    // Bootstrap core CSS
    link(href='css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/dashboard.css', rel='stylesheet')
    link(href='css/editor.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') PokeMMOn Map Editor
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(href='', onClick='pokemap.new(); pokemap.clear(); return false;') New
            li
              a(href='#') Import
            li
              a(href='#') Export
            li
              a(href='#') Settings
            li
              a(href='#', onClick='pokemap.random(); return false;') Random Map
            li
              a(href='#', onClick='pokemap.render(); return false;') Render Map
            li
              a(href='#', onClick='pokemap.random(); pokemap.render(); return false;') Do both of the things
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          .tab-container
            button(onClick='pokemap.random(); pokemap.render(); return false;') Render Random Map
            br
            br
            | up
            br
            button(onClick='pokemap.resize("up", 10); return false;') 10
            button(onClick='pokemap.resize("up", 5); return false;') 5
            button(onClick='pokemap.resize("up", 1); return false;') 1
            button(onClick='pokemap.resize("up", -1); return false;') -1
            button(onClick='pokemap.resize("up", -5); return false;') -5
            button(onClick='pokemap.resize("up", -10); return false;') -10
            br
            | right
            br
            button(onClick='pokemap.resize("right", 10); return false;') 10
            button(onClick='pokemap.resize("right", 5); return false;') 5
            button(onClick='pokemap.resize("right", 1); return false;') 1
            button(onClick='pokemap.resize("right", -1); return false;') -1
            button(onClick='pokemap.resize("right", -5); return false;') -5
            button(onClick='pokemap.resize("right", -10); return false;') -10
            br
            | down
            br
            button(onClick='pokemap.resize("down", 10); return false;') 10
            button(onClick='pokemap.resize("down", 5); return false;') 5
            button(onClick='pokemap.resize("down", 1); return false;') 1
            button(onClick='pokemap.resize("down", -1); return false;') -1
            button(onClick='pokemap.resize("down", -5); return false;') -5
            button(onClick='pokemap.resize("down", -10); return false;') -10
            br
            | left
            br
            button(onClick='pokemap.resize("left", 10); return false;') 10
            button(onClick='pokemap.resize("left", 5); return false;') 5
            button(onClick='pokemap.resize("left", 1); return false;') 1
            button(onClick='pokemap.resize("left", -1); return false;') -1
            button(onClick='pokemap.resize("left", -5); return false;') -5
            button(onClick='pokemap.resize("left", -10); return false;') -10
        .mapContainer
          canvas#map
    #footer
    //
      Bootstrap core JavaScript
      ==================================================
      Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/editor/bootstrap.js')
    //script(src='js/editor/map-builder.js')
    //script(src='js/editor/ui.js')
    script(src='js/editor/Tile.js')
    script(src='js/editor/PokeMap.js')
    script(src='js/editor/init.js')
