doctype html
html(lang='en')
  head
    title Home :: PokeMMOn
    link(rel='stylesheet', href='css/game.css')
    link(rel='stylesheet', href='css/nprogress.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
  body
    server(hidden) #{server}
    script(defer, src='js/async.min.js')
    script(defer, src='js/socket.io.js')
    script(defer, src='js/jquery-2.1.3.min.js')
    script(defer, src='js/nprogress.js')
    script(defer, src='js/preload.js')
    script(defer, src='js/Entity.js')
    script(defer, src='js/Tile.js')
    script(defer, src='js/Player.js')
    script(defer, src='js/game.js')

    //#fps 0 fps
    #loading
    #content
      //img(src="img/logo.png")#logo
      canvas#game
    script(defer, src='js/init.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61174368-1', 'auto');
      ga('send', 'pageview');
    script(src="js/favicon.min.js")
