#loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #4A90E2;
    height: 3px;
    width: 0;
    z-index: 500;
    transition: all .15s ease; }

.modal {
    left:50%;
    right: initial;
    bottom: initial;
    transform: translateX(-50%); }

.modal-content {
    cursor: pointer; }

.modal-title, .modal-body { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.sidebar select, .sidebar input {
    width: 100%; }

